@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500&display=swap");

* {
  margin: 0;
}
:root {
  --background: #3b405a;
  --btn-response: #2b5c81;
  --btn-good-answer: #1ecdad;
  --btn-bad-answer: #e96f66;
  --btn-change-page: #e9afa3;
  --font-color: #ffffff;
}

body {
  border: 5px solid purple;
  background-color: var(--background);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

/************************** header */

#main-page {
  border: 2px red;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 844px;
  justify-content: space-around;
}
header {
  /* display: flex;
  flex-direction: column;
  align-items: center; */
  height: 844px;
}
header img {
  border: 2px blue solid;
  width: 250px;
  height: 250px;
}
p {
  color: var(--font-color);
  font-size: 3.5rem;
}

ul {
  border: 2px green solid;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
}

li {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
}

#btn-start {
  width: 167px;
  height: 60px;
  text-decoration: none;
  color: var(--font-color);
  background-color: var(--btn-change-page);
  font-size: 2.5rem;
  border-radius: 33px;
}

/* **********************************Section result */
#section-result {
  display: none;
}

/*********************************************** main */

main {
  border: 2px black solid;
  display: none;
}

#btn-response {
  border: 3px grey solid;
}

/************************** footer */
#btn-replay-quiz {
  display: none;
  width: 600px;
  margin: 0 auto;
  width: 220px;
  height: 60px;
  margin: 0 auto;
  text-decoration: none;
  color: var(--font-color);
  background-color: var(--btn-change-page);
  font-size: 2.5rem;
  border-radius: 33px;
  text-align: center;
}

@media screen and (min-width: 391px) {
  #main-page {
    flex-direction: row;
  }
  header img {
    border: 2px blue solid;
    width: 400px;
    height: 400px;
  }
  p {
    color: var(--font-color);
    font-size: 6rem;
  }
}
